@font-face
	font-family: 'RF Dewi Expanded'
	src: url('/assets/fonts/RFDewiExpanded-Bold.woff2') format('woff2'), url('/assets/fonts/RFDewiExpanded-Bold.woff') format('woff')
	font-weight: bold
	font-style: normal

@font-face
	font-family: 'RF Dewi Expanded'
	src: url('/assets/fonts/RFDewiExpanded-Semibold.woff2') format('woff2'), url('/assets/fonts/RFDewiExpanded-Semibold.woff') format('woff')
	font-weight: 600
	font-style: normal

@font-face
	font-family: 'RF Dewi'
	src: url('/assets/fonts/RFDewi-Regular.woff2') format('woff2'), url('/assets/fonts/RFDewi-Regular.woff') format('woff')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'RF Dewi'
	src: url('/assets/fonts/RFDewi-Bold.woff2') format('woff2'), url('/assets/fonts/RFDewi-Bold.woff') format('woff')
	font-weight: bold
	font-style: normal

@font-face
	font-family: 'RF Dewi Extended'
	src: url('/assets/fonts/RFDewiExtended-Regular.woff2') format('woff2'), url('/assets/fonts/RFDewiExtended-Regular.woff') format('woff')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'RF Dewi Extended'
	src: url('/assets/fonts/RFDewiExtended-Bold.woff2') format('woff2'), url('/assets/fonts/RFDewiExtended-Bold.woff') format('woff')
	font-weight: bold
	font-style: normal

@font-face
	font-family: 'RF Dewi Extended'
	src: url('/assets/fonts/RFDewiExtended-Ultrabold.woff2') format('woff2'), url('/assets/fonts/RFDewiExtended-Ultrabold.woff') format('woff')
	font-weight: 800
	font-style: normal

body
	font-family: 'RF Dewi', sans-serif
	font-weight: 400
	font-size: 24px
	line-height: 38px

	+md-only
		font-size: 20px
		line-height: 32px

	+sm-down
		font-size: 18px
		line-height: 28px

h1
	font-family: 'RF Dewi Expanded', sans-serif
	font-style: normal
	font-weight: 700
	font-size: 64px
	line-height: 77px
	margin-bottom: 42px

	+md-only
		font-size: 48px
		line-height: 58px

	+sm-down
		font-size: 32px
		line-height: 38px
