<section>
    <div class="container">
        <h1 class="title">
            Start your journey towards a healthier life today! Join our Healthy Habits Tracker and unlock the potential of a more vibrant and balanced lifestyle. It's time to take control of your well-being and make positive changes that last a lifetime.
        </h1>
    </div>
    <div class="download">
        <button hbButton>
            <hb-icon icon="apple" color="white" />
            <div class="text">
                <p class="download-text">Download on the</p>
                <p class="download-store">App Store</p>
            </div>
        </button>
        <button hbButton>
            <hb-icon icon="play-market" color="white" />
            <div class="text">
                <p class="download-text">Download on the</p>
                <p class="download-store">Play Store</p>
            </div>
        </button>
    </div>
</section>
