<section>
    <div class="container">
        <h1 class="title">Why choose our Healthy Habits Tracker?</h1>
        <div class="features">
            <ul class="features__list list">
                <li class="list__item">
                    <span>1. </span>
                    <p>
                        Track Your Progress: Our tracker allows you to monitor your daily habits, such as exercise, nutrition, sleep, mindfulness, and more. Easily record your activities and see your progress over time with detailed insights and intuitive charts.
                    </p>
                </li>
                <li class="list__item list__item--even">
                    <span>2. </span>
                    <p>
                        Stay Motivated: We understand the importance of motivation when it comes to sticking to healthy habits. Our tracker provides you with the tools to set personalized goals and milestones.
                    </p>
                </li>
                <li class="list__item">
                    <span>3. </span>
                    <p>
                        Create Customized Routines: Tailor your habits tracker to suit your unique lifestyle. Whether you're an early riser or a night owl, prefer yoga or weightlifting, our flexible platform adapts to your preferences.
                    </p>
                </li>
                <li class="list__item list__item--even">
                    <span>4. </span>
                    <p>
                        Accountability and Support: Share your progress with friends, family, or even join a community of like-minded individuals.
                    </p>
                </li>
                <li class="list__item">
                    <span>5. </span>
                    <p>
                        Privacy and Security: We take your privacy seriously. Our platform ensures that your data is securely stored and protected.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
